<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<br>
<br>
<a href="/admin">Home</a> | <a href="/logout">Logout</a>
<br>
<br>
<h3>Delete user by ID</h3>

<div>
    <form th:method="POST" th:action="@{/admin/delete}" th:object="${user}">
        <div>
            <br>
            <input type="text" th:field="*{id}" placeholder="id" name="id"/>
            <br><br>
            <input type="submit"  value="Delete User"/>
        </div>
    </form>
</div>
</body>
</html>