<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<br>
<a href="/index">Home</a> | <a href="/logout">Logout</a><br><br>
<h1>User <span th:utext="${user.getUsername()}"></span>, welcome spring boot security page!</h1>
<br>
<br>
<h2>User info</h2>
<div>
    <h4 th:text="${user.toString()}"></h4>

</div>

</body>
</html>